<div class="row margin">
	<div class="col-sm-12">
		<button type="button" class="btn btn-success pull-right" (click)="addParser()">Add new Parser</button>
	</div>
</div>
<div class="row margin">
	<div class="col-sm-4">
		<div class="list-group">
			<vc-parser *ngFor="let parser of parsers; let i = index"
				[parser]="parser"
				(onSelect)="selectParser($event, i)"></vc-parser>
		</div>
	</div>
	<div class="col-sm-8">
		<vc-parser-form *ngIf="!!selectedItem" [parser]="selectedItem" (onChange)="changeParser($event)"></vc-parser-form>
	</div>
</div>
