<div class="row margin">
	<div class="col-sm-10">
		<div *ngIf="!!errorMessage" class="alert alert-danger">Error: {{errorMessage}}</div>
	</div>
	<div class="col-sm-2">
		<button type="button" class="btn btn-success btn-block" (click)="addParser()">Add new Parser</button>
	</div>
</div>
<div class="row margin">
	<div class="col-sm-4">
		<div class="list-group">
			<vc-parser *ngFor="let parser of parsers; let i = index"
				[parser]="parser"
				(onSelect)="selectParser($event, i)"></vc-parser>
		</div>
	</div>
	<div class="col-sm-8">
		<vc-parser-form *ngIf="!!selectedItem"
			[parser]="selectedItem"
			(onDelete)="deleteParser($event)"
			(onChange)="changeParser($event)">
		</vc-parser-form>
	</div>
</div>
